<?xml version="1.0"?>
<opencv_storage>
<camera>
  <cam_width>1920</cam_width>
  <cam_height>1080</cam_height>
  <cam_channel>3</cam_channel>
  <cam_fx>7500</cam_fx>
  <cam_fy>1780</cam_fy>
  <cam_ox>960</cam_ox>
  <cam_oy>540</cam_oy>
  <cam_k1>0</cam_k1>
  <cam_k2>0</cam_k2>
  <cam_k3>0</cam_k3>
  <cam_k4>0</cam_k4></camera>
<display>
  <display_width>1920</display_width>
  <display_height>1080</display_height>
  <display_channel>3</display_channel></display>
<panoalg>
  <panoprocesswidth>1920</panoprocesswidth>
  <panoprocessheight>1080</panoprocessheight>
  <panozeroptz>0.</panozeroptz>
  <panozeroptztitle>-7.4</panozeroptztitle>
  <panoprocessshift>170</panoprocessshift>
  <panoprocesstailcut>200</panoprocesstailcut>
  <panocylinder>0</panocylinder>
  <panofusion>1</panofusion>
  <angleinterval>5</angleinterval></panoalg>
<mvdetect>
  <mvprocesswidth>1920</mvprocesswidth>
  <mvprocessheight>1080</mvprocessheight>
  <mvdownup>2</mvdownup></mvdetect>
<ptz>
  <ptzwait>1</ptzwait>
  <ptzbroad>9600</ptzbroad>
  <ptzaddres>1</ptzaddres>
  <ptzdp>0</ptzdp>
  <ptzpaninverse>0</ptzpaninverse>
  <ptztitleinverse>0</ptztitleinverse>
  <ptzspeed>20</ptzspeed></ptz>
</opencv_storage>
